<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <!-- nav -->
    <nav class="navbar navbar-expand-lg navbar-light container">
      <div class="container-fluid">
        <a class="navbar-brand" href="/crud">CRUD</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/crud/create-user"
                >Create a new User</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- end nav -->
    <div class="container mt-5">
      <div class="row">
        <h4 class="mb-4">CRUD Get Display</h4>
        <table class="table">
          <thead>
            <tr class="table-danger">
              <th scope="col">#</th>
              <th scope="col">Email</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Address</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i = 0; i < data.length; i++) { %>
            <tr>
              <th scope="row"><%= i + 1%></th>
              <td><%= data[i].email%></td>
              <td><%= data[i].firstName%></td>
              <td><%= data[i].lastName%></td>
              <td><%= data[i].address%></td>
              <td>
                <a href="/crud/edit?id=<%= data[i].id %>"
                  ><button type="button" class="btn btn-warning">Edit</button>
                </a>
                <button
                  type="button"
                  data-id="<%= data[i].id %>"
                  class="btn btn-danger btn-delete"
                >
                  Delete
                </button>
              </td>
            </tr>
            <% }%>
          </tbody>
        </table>
      </div>
    </div>

    <!-- form actions -->
    <form name="delete-user" method="POST">
      <button type="submit">sss</button>
    </form>
    <!-- end form actions -->
    <!-- script bootchap 5 -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>

    <!-- Jquery -->
    <script
      src="https://code.jquery.com/jquery-3.6.3.js"
      integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
      crossorigin="anonymous"
    ></script>

    <!-- script -->
    <script>
      const btnDelete = $(".btn-delete");
      btnDelete.click(function (e) {
        const id = e.target.dataset.id;
        const formDelete = $('form[name="delete-user"]');

        // action="/crud/delete-user?_mothod=DELETE"

        formDelete.attr("action", `/crud/delete-user?id=${id}&_method=DELETE`);
        formDelete.submit();
      });
    </script>
  </body>
</html>
